In [25]:
import pandas as pd
import numpy as np
import math
import statistics

In [6]:
df = pd.read_csv("Age-Income-Dataset.csv")

In [7]:
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

In [8]:
mean_income = sum(df['Income'])/len(df['Income'])
mean_income

50966.0

In [9]:
def median(x):
    n = len(x)
    if n%2:
        scores_median = sorted(x)[round(0.5*(n-1))]
    else:
        x_order,index = sorted(x),round(0.5*n)
        scores_median = 0.5 * (x_order[index-1]+x_order[index])
    return(scores_median)

In [10]:
median(df['Income'])

46850.0

In [11]:
min(df['Income'])

15000

In [12]:
max(df['Income'])

93000

In [13]:
min_income = 15000
for i in range(len(df)):
    if df['Income'][i]==min_income:
        print(f"{df['Age'][i]}:{df['Income'][i]}")

Young:15000

In [14]:
max_income = 93000
for i in range(len(df)):
    if df['Income'][i]==max_income:
        print(f"{df['Age'][i]}:{df['Income'][i]}")

Middle Age:93000

In [42]:
def std_deviation(x):
    n=len(x)
    std_mean = sum(x)/n
    score_std = sum((item - std_mean)**2 for item in x)/(n-1)
    std = math.sqrt(score_std)
    return round(std,ndigits=2)

In [43]:
std_deviation(df['Income'])

21096.68

In [44]:
def variance(x):
    n=len(x)
    std_mean = sum(x)/n
    var = sum((item - std_mean)**2 for item in x)/(n-1)
    return round(var,ndigits=2)

In [45]:
variance(df['Income'])

445070044.9

In [26]:
mean = np.mean(df['Income'])

In [27]:
mean

50966.0

In [28]:
median = np.median(df['Income'])

In [29]:
median

46850.0

In [39]:
standard_deviation = statistics.stdev(df['Income'])
print(round(standard_deviation,ndigits=2))

21096.68

In [34]:
standard_deviation

21096.683267707253

In [41]:
v = statistics.variance(df['Income'])
print(round(v,ndigits=2))

445070044.9

In [46]:
df.groupby('Age')['Income'].mean()

Age
Middle Age    52453.333333
Old           53942.105263
Young         46037.500000
Name: Income, dtype: float64

In [47]:
df.groupby('Age')['Income'].median()

Age
Middle Age    53200.0
Old           45300.0
Young         41500.0
Name: Income, dtype: float64

In [49]:
df.groupby('Age')['Income'].std()

Age
Middle Age    20497.800114
Old           20868.165968
Young         22356.859499
Name: Income, dtype: float64

In [50]:
df.groupby('Age')['Income'].var()

Age
Middle Age    4.201598e+08
Old           4.354804e+08
Young         4.998292e+08
Name: Income, dtype: float64

In [53]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
col = {'Age','Income'}
for i in col:
    df[i]=labelencoder.fit_transform(df[i])

In [54]:
df

    Age  Income
0     2       3
1     0      26
2     1      30
3     2       0
4     2      19
5     2      32
6     2      36
7     2       7
8     0       5
9     2       1
10    2      22
11    1      24
12    2      10
13    1      39
14    1      37
15    1      12
16    0       6
17    0      29
18    1      17
19    0      28
20    1      31
21    1       9
22    1      19
23    1      41
24    0      43
25    0      44
26    2      39
27    2      40
28    2      14
29    2       1
30    0      15
31    0      25
32    1      18
33    0       4
34    0      33
35    1      38
36    1      42
37    1      16
38    2       8
39    1       4
40    0      21
41    1      13
42    2      27
43    0      33
44    1      34
45    1       2
46    0      11
47    1      20
48    2      35
49    0      23