In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv("dirtydata.csv")

In [20]:
df

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127    -300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   2020/12/26    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132    -280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [45]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [58]:
df['Calories'].fillna(df['Calories'].mean())

0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00
Name: Calories, dtype: float64

In [59]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [60]:
df['Calories']=df['Calories'].abs()

In [65]:
df['Calories'].fillna(df['Calories'].mean())

0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00
Name: Calories, dtype: float64

In [66]:
df.dropna()

    Duration  Date  Pulse  Maxpulse  Calories
0         60     0    110        13    409.10
1         60     1    117        20    479.00
2         60     2    103        18    340.00
3         45     3    109        23    282.40
4         45     4    117        22    406.00
5         60     5    102        10    300.00
6         60     6    110        19    374.00
7        450     7    104        17    253.30
8         30     8    109        16    195.10
9         60     9     98         7    269.00
10        60    10    103        21    329.30
11        60    11    100         5    250.70
12        60    11    100         5    250.70
13        60    12    106        11    345.30
14        60    13    104        15    379.30
15        60    14     98         6    275.00
16        60    15     98         5    215.20
17        60    16    100         5    300.00
18        45    17     90         1    304.68
19        60    18    103         6    323.00
20        45    19     97         8    243.00
21        60    20    108        14    364.20
22        45    30    100         4    282.00
23        60    21    130         0    300.00
24        45    22    105        15    246.00
25        60    23    102         9    334.50
26        60    24    100         5    250.00
27        60    25     92         3    241.00
28        60    26    103        15    304.68
29        60    27    100        15    280.00
30        60    28    102        12    380.30
31        60    29     92         2    243.00

In [67]:
df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [32]:
df.describe

<bound method NDFrame.describe of     Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   2020/12/26    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0>

In [33]:
df.shape

(32, 5)

In [69]:
df.dtypes

Duration      int64
Date          int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [74]:
df['Pulse'].astype('float')

0     110.0
1     117.0
2     103.0
3     109.0
4     117.0
5     102.0
6     110.0
7     104.0
8     109.0
9      98.0
10    103.0
11    100.0
12    100.0
13    106.0
14    104.0
15     98.0
16     98.0
17    100.0
18     90.0
19    103.0
20     97.0
21    108.0
22    100.0
23    130.0
24    105.0
25    102.0
26    100.0
27     92.0
28    103.0
29    100.0
30    102.0
31     92.0
Name: Pulse, dtype: float64

In [75]:
df.dtypes

Duration      int64
Date          int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [76]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
cols = {'Date','Maxpulse'}
for i in cols:
    df[i]=labelencoder.fit_transform(df[i])

In [77]:
df

    Duration  Date  Pulse  Maxpulse  Calories
0         60     0    110        13    409.10
1         60     1    117        20    479.00
2         60     2    103        18    340.00
3         45     3    109        23    282.40
4         45     4    117        22    406.00
5         60     5    102        10    300.00
6         60     6    110        19    374.00
7        450     7    104        17    253.30
8         30     8    109        16    195.10
9         60     9     98         7    269.00
10        60    10    103        21    329.30
11        60    11    100         5    250.70
12        60    11    100         5    250.70
13        60    12    106        11    345.30
14        60    13    104        15    379.30
15        60    14     98         6    275.00
16        60    15     98         5    215.20
17        60    16    100         5    300.00
18        45    17     90         1    304.68
19        60    18    103         6    323.00
20        45    19     97         8    243.00
21        60    20    108        14    364.20
22        45    30    100         4    282.00
23        60    21    130         0    300.00
24        45    22    105        15    246.00
25        60    23    102         9    334.50
26        60    24    100         5    250.00
27        60    25     92         3    241.00
28        60    26    103        15    304.68
29        60    27    100        15    280.00
30        60    28    102        12    380.30
31        60    29     92         2    243.00