In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dirtydata.csv')

In [3]:
df

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127    -300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132    -280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [4]:
df.head()

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0

In [5]:
df.shape

(32, 5)

In [7]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  266.013333
std     70.039591    7.832933   12.998759  164.876415
min     30.000000   90.000000  101.000000 -300.000000
25%     60.000000  100.000000  120.000000  247.000000
50%     60.000000  102.500000  127.500000  282.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [8]:
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [9]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [10]:
df['Calories'].fillna(df['Calories'].mean(), inplace=True)

In [11]:
df

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127 -300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
12        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
22        45          NaN    100       119  282.000000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132 -280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000

In [14]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [16]:
df.loc[23]

Duration             60
Date        2020/12/23'
Pulse               130
Maxpulse            101
Calories          300.0
Name: 23, dtype: object

In [20]:
df['Calories'] = df['Calories'].abs()

In [21]:
df

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127  300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
12        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
22        45          NaN    100       119  282.000000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132  280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000

In [22]:
df = df.dropna()

In [23]:
df

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127  300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
12        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132  280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000

In [26]:
df.drop_duplicates()

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127  300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132  280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000